# Ignore virtual environment
.venv/
.env/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# If you're using Conda, you can also add this:
conda_env/

# Ignore any other Python-related temporary files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore macOS-specific files (if applicable)
.DS_Store
